/* Reusable Variables */
body{
    background-color: #E8EEF1;
    font-family: "Poppins" sans-serif;
}
img{
    max-width: 100%;
    width: 800px; 
    height:auto;
    display: block; 
    position: relative; 
    top: 200px; 
    right: -800px;
}
h1{
    color: #542652; 
    font-size: 2.5rem; 
    margin-left:100px; 
    margin-bottom: -50px; 
    position: absolute; 
    top: 220px;
}
h2{
    color:#5B868F; 
    font-size: 3rem; 
    margin-left:100px; 
    position: absolute; 
    top: 250px;
}
h4{
    font-size: 1rem; 
    font-weight: 400; 
    margin-left:100px; 
    margin-bottom: -30px; 
    position: absolute; 
    top: 200px;
}
p{
    width: 400px; 
    margin-left:100px; 
    position: absolute; 
    top: 400px;
}
footer{
    position:absolute; 
    bottom: 20px; 
    left: 700px;
}
